<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Network Securities Assignment-0</title>
    <style>
    h1 {text-align: center;
<!--        margin-top: 100px;-->
<!--      margin-bottom: 100px;-->
<!--      margin-right: 150px;-->
<!--      margin-left: 80px;-->
        }
     h5, h4 {text-align: center;
        margin-top: 50px;
<!--      margin-bottom: 100px;-->
<!--      margin-right: 150px;-->
<!--      margin-left: 80px;-->
        }

    </style>
</head>
<body>

<div class="jumbotron">
  <h1 class="display-4 " style="font-family:verdana"><b></b><u>Text Encryption</u></h1>
    <h4 class="display-5 "><b></b><u>Network Securities Assignment-0</u></h4>

    <h5 class="display-5 ">Name - Kanishk Gahlot | Roll No. - 18074007 | Dept - Computer Science and Engineering</h5>

</div>

<div class="container mt-5 " >
    <form action="/" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Text</label>
        <input type="text" name="st" class="form-control" aria-describedby="emailHelp" value="{{dsto}}">
      </div>
      <button type="submit" class="btn btn-success" >Encipher</button>
    </form>
</div>


<div class="container mt-5 ">
    <form action="/index" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Encrypted Text</label>
        <input type="text" name="dst" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{sto}}">
      </div>
      <button type="submit" class="btn btn-danger">Decipher</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>